html{
    background: rgb(60, 17, 100)
}

header{
    background: #2c3051;
    color: #fff;
    padding: 40px;
    text-align: center;
    border: 8px #b68d1c solid;
    margin-bottom: 0px;
    font-family: arial;
    font-size: 32px;
    font-weight: bold;
}

body{
    background-color: #fff;
}

:link{
    color: #ffffff;
    text-decoration: none;
}

:visited{
    color: #ffffff;
    text-decoration: none;
}

#banner{
    background: #2c3051;
    color: #fff;
    padding: 10px;
    border-bottom: 4px #b68d1c solid;
    border-left: 4px #b68d1c solid;
    border-right: 4px #b68d1c solid;
    margin-bottom: 10px;
    font-family: arial;
    font-weight: bold;
    font-style: italic;
    font-size: 18px;
    width: 100%;
}

td{
    background: #2c3051;
    color: #fff;
    text-align: left;
}

td:hover{
    background-color: #4a518a;
}

.dropdown{
    position: relative;
    display: inline;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
    color: #fff;
    font-weight: none;
    font-size: 16px;
    font-style: normal;
    background-color: #4a518a;
}

.align1{
    position: absolute;
}

.align2{
    position: absolute;
    padding-left: 120px;
}

.align3{
    position: absolute;
    padding-left: 240px;
}

.align4{
    position: absolute;
    padding-left: 400px;
}
