header{
    background: #2c3051;
    color: #fff;
    padding: 40px;
    text-align: center;
    border: 8px #b68d1c solid;
    margin-bottom: 10px;
    font-family: arial;
    font-size: 32px;
    font-weight: bold;
}

body{
    color: #000000
}


table{
    background: #2c3051;
    color: #fff;
    padding: 10px;
    border-bottom: 4px #b68d1c solid;
    border-left: 4px #b68d1c solid;
    border-right: 4px #b68d1c solid;
    margin-bottom: 10px;
    font-family: arial;
    font-weight: bold;
    font-style: italic;
    font-size: 18px;
}
td{
    background: #2c3051;
    color: #fff;
    width: 440px;
    text-align: center;
}

td:hover{
    background: #4e5a85
}

/* Add Page alignment */
.align1{
	position: absolute;
}

.align2{
	position: absolute;
	padding-left: 120px;
}

.align3{
	position: absolute;
	padding-left: 280px;
}

.align4{
	position: absolute;
	padding-left: 400px;
}