#all those env variables used in .env file that is used in running our server
#except for mailgun variables
CSV_EXPORT_SAVE_DIR=C:\Users\Abhaya\Desktop\4060_team_gold\team-gold\backend\dump
sql_host=localhost
sql_user=root
sql_password=
sql_timezone=+00:00
sql_database=SoccerSchedule
sql_execute_source_file=C:\Users\Abhaya\Desktop\4060_team_gold\team-gold\backend\dump\sql_execute_source.sql
http_port=8848

#specific to test and keep email/password in sync with data in sql_reset_seed
sql_reset_seed=C:\Users\Abhaya\Desktop\4060_team_gold\team-gold\backend\test\test_data\reset_seed.sql
sql_game_test_seed=C:\Users\Abhaya\Desktop\4060_team_gold\team-gold\backend\test\test_data\game_test_seed.sql