header{
    position: relative;
    top: 5px;
}

.sidebar{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: #1f223b;
    overflow-x: hidden;
    padding-top: 3.5%;
    transition: 0.5s;
    z-index: 3;
}

.sidebar a {
    padding-top: 10%;
    padding-bottom: 10%;
    text-decoration: none;
    display: block;
    transition: 0.3s;
    background-color: #1f223b;
    color: #d4d3ce;
    text-align: center;
    margin-bottom: 0px;
    font-family: arial;
    font-size: 25px;
    font-weight: bold;
}

.sidebar a:hover{
    color: #fff;
    background-color: #515894;
}

#sideBtn{
    background-color: #b68d1c;
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 3;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #2c3051;
    color: #fff;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover{
    background-color: #515894;
    transition: 0.3s;
}

#main{
    transition: margin-left .5s;
    padding: 20px;
}

@media screen and (max-height: 450px){
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
}